{% if site.friends %}
<hr>
<h5>Advisors & Collaborators</h5>
<ul class="list-inline">
  {% for friend in site.friends %}
  <li><a href="{{friend.href}}" style="color:rgb(101, 101, 101) !important">{{friend.title}}</a></li>
  {% endfor %}
</ul>
{% endif %}


{% if site.links %}
<hr>
<h5>Resource Links</h5>
<ul class="list-inline">
  {% for link in site.links %}
  <li><a href="{{link.href}}" style="color:rgb(101, 101, 101) !important">{{link.title}}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if site.collects %}
<hr>
<h5>Collections</h5>
<ul class="list-inline">
  {% for collect in site.collects %}
  <li><a href="{{collect.href}}" style="color:rgb(101, 101, 101) !important">{{collect.title}}</a></li><br>
  {% endfor %}
</ul>
{% endif %}
